<ng-container *ngIf="product">
  <ng-content></ng-content>
  <div class="name">{{product.name}}</div>
  <div class="img">
    <img [src]="product.url" [alt]="product.name">
  </div>
  <div class="price" *ngIf="product.price as price">
    <div class="amount">{{price.amount}}</div>
    <div class="currency">{{price.currency}}</div>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="$event.stopPropagation(); onAddClicked()" *ngIf="!isCart;else removeTemplate">Add
      to cart
    </button>
    <ng-template #removeTemplate>
      <button mat-raised-button color="warn" (click)="$event.stopPropagation(); onRemoveClicked()">Remove from cart
      </button>

    </ng-template>

  </div>
</ng-container>
