:host {

  outline: solid 1px green;
  max-height: 90vh;
  display: flex;
  column-gap: 10px;

  .product-list {
    max-height: 80vh;
    overflow: auto;

    .product {
      padding: 10px;

      .name {
        color: darkblue;
      }

      .img {
        img {

          height: 100px;
          width: auto;
        }
      }
    }
  }
}
