<app-nav-bar></app-nav-bar>
<app-side-bar #sidebar></app-side-bar>
<div class="body" (click)="sidebar.hello()">
<!--  <button (click)="someToggle = !someToggle">{{who}}</button>-->

  <app-feed></app-feed>

  <!--  <ng-container *ngIf="someToggle">-->
<!--    <div class="name">-->
<!--      <div id="yonatan">{{name}}</div>-->

<!--    </div>-->
<!--  </ng-container>-->


  <!--  <div appHighlight [bColor]="someBackground">-->
  <!--    <p>Highlight Directive</p>-->
  <!--  </div>-->
  <!--  -->
  <!--  <app-card [card]="card" (cardHover)="onCardHover($event)"></app-card>-->


  <!--  <app-counter [count]="5" (countChange)="onCountChange($event)"></app-counter>-->

  <!--  <app-counter [count]="outsideCount"></app-counter>-->
</div>
